/.idea/.gitignore
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9bbd3dbe943bc2d321a0.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-dc42cd6242a8ef5a0530.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7b7dbf6ff10685cf7f28.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-23T13-38-14-0730.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/Prova_Elaborato_Programazione_Lista_Spesa.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Prova_Elaborato_Programazione_Lista_Spesa-Debug-365211125f712954fdcb.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-bc2add9ee6b3ed08514a.json
/.idea/vcs.xml
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Abbigliamento.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Altro.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Bevande.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0ef032b0fd5060db46d7.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Elettronica.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Forno.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/FruttaEVerdura.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Igiene.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-24T10-24-04-0545.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/ListaDellaSpesa.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Macelleria.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Pescheria.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/ProdottiDaBagno.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Prodotto.cpp.o
/cmake-build-debug/Prova_Elaborato_Programazione_Lista_Spesa
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Pulizia.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-Prova_Elaborato_Programazione_Lista_Spesa-Debug-1cae0005017e1b055731.json
