/.idea/.gitignore
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9bbd3dbe943bc2d321a0.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-dc42cd6242a8ef5a0530.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7b7dbf6ff10685cf7f28.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-23T13-38-14-0730.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/Prova_Elaborato_Programazione_Lista_Spesa.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Prova_Elaborato_Programazione_Lista_Spesa-Debug-365211125f712954fdcb.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-bc2add9ee6b3ed08514a.json
/.idea/vcs.xml
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Abbigliamento.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Altro.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Bevande.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0ef032b0fd5060db46d7.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Elettronica.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Forno.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/FruttaEVerdura.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Igiene.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-24T10-24-04-0545.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/ListaDellaSpesa.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Macelleria.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Pescheria.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/ProdottiDaBagno.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Prodotto.cpp.o
/cmake-build-debug/Prova_Elaborato_Programazione_Lista_Spesa
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Pulizia.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-Prova_Elaborato_Programazione_Lista_Spesa-Debug-1cae0005017e1b055731.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-512bb9a2c88e4699cf80.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-24T10-51-23-0396.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Observer.cpp.o
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Subject.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-Prova_Elaborato_Programazione_Lista_Spesa-Debug-c7c14de19459a7ce4d51.json
/cmake-build-debug/CMakeFiles/Prova_Elaborato_Programazione_Lista_Spesa.dir/Utente.cpp.o
/Test/lib/googletest/.clang-format
/Test/lib/googletest/.gitignore
/.idea/.name
/Test/lib/googletest/.github/ISSUE_TEMPLATE/00-bug_report.yml
/Test/lib/googletest/.github/ISSUE_TEMPLATE/10-feature_request.yml
/Test/lib/googletest/docs/_config.yml
/cmake-build-debug/CMakeFiles/core.dir/Abbigliamento.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Abbigliamento.cpp.o
/Test/lib/googletest/docs/reference/actions.md
/Test/lib/googletest/docs/advanced.md
/cmake-build-debug/CMakeFiles/core.dir/Altro.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Altro.cpp.o
/Test/lib/googletest/docs/reference/assertions.md
/cmake-build-debug/CMakeFiles/core.dir/Bevande.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Bevande.cpp.o
/Test/lib/googletest/googlemock/test/BUILD.bazel
/Test/lib/googletest/googletest/test/BUILD.bazel
/Test/lib/googletest/BUILD.bazel
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-45253e4f3032680884e6.json
/cmake-build-debug/test/lib/googletest/googlemock/cmake_install.cmake
/cmake-build-debug/test/lib/googletest/googletest/cmake_install.cmake
/cmake-build-debug/test/lib/googletest/cmake_install.cmake
/cmake-build-debug/test/cmake_install.cmake
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5866e4ea75905c5921e7.json
/Test/lib/googletest/googlemock/CMakeLists.txt
/Test/lib/googletest/googletest/CMakeLists.txt
/Test/lib/googletest/CMakeLists.txt
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-05e3e0a52ff60b18d042.json
/Test/lib/googletest/docs/community_created_documentation.md
/Test/lib/googletest/googletest/cmake/Config.cmake.in
/Test/lib/googletest/.github/ISSUE_TEMPLATE/config.yml
/Test/lib/googletest/CONTRIBUTING.md
/Test/lib/googletest/CONTRIBUTORS
/cmake-build-debug/test/lib/googletest/googlemock/CTestTestfile.cmake
/cmake-build-debug/test/lib/googletest/googletest/CTestTestfile.cmake
/cmake-build-debug/test/lib/googletest/CTestTestfile.cmake
/Test/lib/googletest/docs/_layouts/default.html
/cmake-build-debug/.cmake/api/v1/reply/directory-Test.lib.googletest.googlemock-Debug-33420b60812dd9c7351b.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Test.lib.googletest.googletest-Debug-873f21bca7eeb208810e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Test.lib.googletest-Debug-398411e6ce3c5be57fbe.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Test-Debug-3fc60f65c6de5401f5db.json
/cmake-build-debug/Elaborato_Programazione_Lista_Spesa
/cmake-build-debug/CMakeFiles/core.dir/Elettronica.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Elettronica.cpp.o
/Test/lib/googletest/docs/faq.md
/cmake-build-debug/CMakeFiles/core.dir/Forno.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Forno.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/FruttaEVerdura.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/FruttaEVerdura.cpp.o
/Test/lib/googletest/googlemock/src/gmock.cc
/Test/lib/googletest/googlemock/include/gmock/gmock.h
/cmake-build-debug/test/lib/googletest/googletest/generated/gmock.pc
/Test/lib/googletest/googlemock/cmake/gmock.pc.in
/Test/lib/googletest/googlemock/include/gmock/gmock-actions.h
/Test/lib/googletest/googlemock/test/gmock-actions_test.cc
/Test/lib/googletest/googlemock/src/gmock-all.cc
/Test/lib/googletest/googlemock/src/gmock-cardinalities.cc
/Test/lib/googletest/googlemock/include/gmock/gmock-cardinalities.h
/Test/lib/googletest/googlemock/test/gmock-cardinalities_test.cc
/Test/lib/googletest/googlemock/include/gmock/gmock-function-mocker.h
/Test/lib/googletest/googlemock/test/gmock-function-mocker_test.cc
/Test/lib/googletest/googlemock/include/gmock/internal/custom/gmock-generated-actions.h
/Test/lib/googletest/googlemock/src/gmock-internal-utils.cc
/Test/lib/googletest/googlemock/include/gmock/internal/gmock-internal-utils.h
/Test/lib/googletest/googlemock/test/gmock-internal-utils_test.cc
/Test/lib/googletest/googlemock/src/gmock-matchers.cc
/Test/lib/googletest/googlemock/include/gmock/internal/custom/gmock-matchers.h
/Test/lib/googletest/googlemock/include/gmock/gmock-matchers.h
/Test/lib/googletest/googlemock/test/gmock-matchers-arithmetic_test.cc
/Test/lib/googletest/googlemock/test/gmock-matchers-comparisons_test.cc
/Test/lib/googletest/googlemock/test/gmock-matchers-containers_test.cc
/Test/lib/googletest/googlemock/test/gmock-matchers-misc_test.cc
/Test/lib/googletest/googlemock/test/gmock-matchers_test.h
/Test/lib/googletest/googlemock/include/gmock/gmock-more-actions.h
/Test/lib/googletest/googlemock/test/gmock-more-actions_test.cc
/Test/lib/googletest/googlemock/include/gmock/gmock-more-matchers.h
/Test/lib/googletest/googlemock/include/gmock/gmock-nice-strict.h
/Test/lib/googletest/googlemock/test/gmock-nice-strict_test.cc
/Test/lib/googletest/googlemock/include/gmock/internal/custom/gmock-port.h
/Test/lib/googletest/googlemock/include/gmock/internal/gmock-port.h
/Test/lib/googletest/googlemock/test/gmock-port_test.cc
/Test/lib/googletest/googlemock/include/gmock/internal/gmock-pp.h
/Test/lib/googletest/googlemock/test/gmock-pp-string_test.cc
/Test/lib/googletest/googlemock/test/gmock-pp_test.cc
/Test/lib/googletest/googlemock/src/gmock-spec-builders.cc
/Test/lib/googletest/googlemock/include/gmock/gmock-spec-builders.h
/Test/lib/googletest/googlemock/test/gmock-spec-builders_test.cc
/Test/lib/googletest/googlemock/test/gmock_all_test.cc
/Test/lib/googletest/docs/gmock_cheat_sheet.md
/Test/lib/googletest/docs/gmock_cook_book.md
/Test/lib/googletest/googlemock/test/gmock_ex_test.cc
/Test/lib/googletest/docs/gmock_faq.md
/Test/lib/googletest/docs/gmock_for_dummies.md
/Test/lib/googletest/googlemock/test/gmock_leak_test.py
/Test/lib/googletest/googlemock/test/gmock_leak_test_.cc
/Test/lib/googletest/googlemock/test/gmock_link2_test.cc
/Test/lib/googletest/googlemock/test/gmock_link_test.cc
/Test/lib/googletest/googlemock/test/gmock_link_test.h
/Test/lib/googletest/googlemock/src/gmock_main.cc
/cmake-build-debug/test/lib/googletest/googletest/generated/gmock_main.pc
/Test/lib/googletest/googlemock/cmake/gmock_main.pc.in
/Test/lib/googletest/googlemock/test/gmock_output_test.py
/Test/lib/googletest/googlemock/test/gmock_output_test_.cc
/Test/lib/googletest/googlemock/test/gmock_output_test_golden.txt
/Test/lib/googletest/googlemock/test/gmock_stress_test.cc
/Test/lib/googletest/googlemock/test/gmock_test.cc
/Test/lib/googletest/googlemock/test/gmock_test_utils.py
/Test/lib/googletest/googletest/test/googletest-break-on-failure-unittest.py
/Test/lib/googletest/googletest/test/googletest-break-on-failure-unittest_.cc
/Test/lib/googletest/googletest/test/googletest-catch-exceptions-test.py
/Test/lib/googletest/googletest/test/googletest-catch-exceptions-test_.cc
/Test/lib/googletest/googletest/test/googletest-color-test.py
/Test/lib/googletest/googletest/test/googletest-color-test_.cc
/Test/lib/googletest/googletest/test/googletest-death-test-test.cc
/Test/lib/googletest/googletest/test/googletest-death-test_ex_test.cc
/Test/lib/googletest/googletest/test/googletest-env-var-test.py
/Test/lib/googletest/googletest/test/googletest-env-var-test_.cc
/Test/lib/googletest/googletest/test/googletest-failfast-unittest.py
/Test/lib/googletest/googletest/test/googletest-failfast-unittest_.cc
/Test/lib/googletest/googletest/test/googletest-filepath-test.cc
/Test/lib/googletest/googletest/test/googletest-filter-unittest.py
/Test/lib/googletest/googletest/test/googletest-filter-unittest_.cc
/Test/lib/googletest/googletest/test/googletest-global-environment-unittest.py
/Test/lib/googletest/googletest/test/googletest-global-environment-unittest_.cc
/Test/lib/googletest/googletest/test/googletest-json-outfiles-test.py
/Test/lib/googletest/googletest/test/googletest-json-output-unittest.py
/Test/lib/googletest/googletest/test/googletest-list-tests-unittest.py
/Test/lib/googletest/googletest/test/googletest-list-tests-unittest_.cc
/Test/lib/googletest/googletest/test/googletest-listener-test.cc
/Test/lib/googletest/googletest/test/googletest-message-test.cc
/Test/lib/googletest/googletest/test/googletest-options-test.cc
/Test/lib/googletest/googletest/test/googletest-output-test.py
/Test/lib/googletest/googletest/test/googletest-output-test-golden-lin.txt
/Test/lib/googletest/googletest/test/googletest-output-test_.cc
/Test/lib/googletest/googletest/test/googletest-param-test2-test.cc
/Test/lib/googletest/googletest/test/googletest-param-test-invalid-name1-test.py
/Test/lib/googletest/googletest/test/googletest-param-test-invalid-name1-test_.cc
/Test/lib/googletest/googletest/test/googletest-param-test-invalid-name2-test.py
/Test/lib/googletest/googletest/test/googletest-param-test-invalid-name2-test_.cc
/Test/lib/googletest/googletest/test/googletest-param-test-test.cc
/Test/lib/googletest/googletest/test/googletest-param-test-test.h
/Test/lib/googletest/googletest/test/googletest-port-test.cc
/Test/lib/googletest/googletest/test/googletest-printers-test.cc
/Test/lib/googletest/googletest/test/googletest-setuptestsuite-test.py
/Test/lib/googletest/googletest/test/googletest-setuptestsuite-test_.cc
/Test/lib/googletest/googletest/test/googletest-shuffle-test.py
/Test/lib/googletest/googletest/test/googletest-shuffle-test_.cc
/Test/lib/googletest/googletest/test/googletest-test-part-test.cc
/Test/lib/googletest/googletest/test/googletest-throw-on-failure-test.py
/Test/lib/googletest/googletest/test/googletest-throw-on-failure-test_.cc
/Test/lib/googletest/googletest/test/googletest-uninitialized-test.py
/Test/lib/googletest/googletest/test/googletest-uninitialized-test_.cc
/Test/lib/googletest/googletest_deps.bzl
/Test/lib/googletest/googletest/src/gtest.cc
/Test/lib/googletest/googletest/include/gtest/internal/custom/gtest.h
/Test/lib/googletest/googletest/include/gtest/gtest.h
/cmake-build-debug/test/lib/googletest/googletest/generated/gtest.pc
/Test/lib/googletest/googletest/cmake/gtest.pc.in
/Test/lib/googletest/googletest/src/gtest-all.cc
/cmake-build-debug/test/lib/googletest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
/Test/lib/googletest/googletest/src/gtest-assertion-result.cc
/Test/lib/googletest/googletest/include/gtest/gtest-assertion-result.h
/Test/lib/googletest/.github/workflows/gtest-ci.yml
/Test/lib/googletest/googletest/src/gtest-death-test.cc
/Test/lib/googletest/googletest/include/gtest/gtest-death-test.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-death-test-internal.h
/Test/lib/googletest/googletest/src/gtest-filepath.cc
/Test/lib/googletest/googletest/include/gtest/internal/gtest-filepath.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-internal.h
/Test/lib/googletest/googletest/src/gtest-internal-inl.h
/Test/lib/googletest/googletest/src/gtest-matchers.cc
/Test/lib/googletest/googletest/include/gtest/gtest-matchers.h
/Test/lib/googletest/googletest/include/gtest/gtest-message.h
/Test/lib/googletest/googletest/include/gtest/gtest-param-test.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-param-util.h
/Test/lib/googletest/googletest/src/gtest-port.cc
/Test/lib/googletest/googletest/include/gtest/internal/custom/gtest-port.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-port.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-port-arch.h
/Test/lib/googletest/googletest/src/gtest-printers.cc
/Test/lib/googletest/googletest/include/gtest/internal/custom/gtest-printers.h
/Test/lib/googletest/googletest/include/gtest/gtest-printers.h
/Test/lib/googletest/googletest/include/gtest/gtest-spi.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-string.h
/Test/lib/googletest/googletest/src/gtest-test-part.cc
/Test/lib/googletest/googletest/include/gtest/gtest-test-part.h
/Test/lib/googletest/googletest/include/gtest/internal/gtest-type-util.h
/Test/lib/googletest/googletest/src/gtest-typed-test.cc
/Test/lib/googletest/googletest/include/gtest/gtest-typed-test.h
/Test/lib/googletest/googletest/test/gtest-typed-test2_test.cc
/Test/lib/googletest/googletest/test/gtest-typed-test_test.cc
/Test/lib/googletest/googletest/test/gtest-typed-test_test.h
/Test/lib/googletest/googletest/test/gtest-unittest-api_test.cc
/Test/lib/googletest/googletest/test/gtest_all_test.cc
/Test/lib/googletest/googletest/test/gtest_assert_by_exception_test.cc
/Test/lib/googletest/googletest/test/gtest_dirs_test.cc
/Test/lib/googletest/googletest/test/gtest_environment_test.cc
/Test/lib/googletest/googletest/test/gtest_help_test.py
/Test/lib/googletest/googletest/test/gtest_help_test_.cc
/Test/lib/googletest/googletest/test/gtest_json_test_utils.py
/Test/lib/googletest/googletest/test/gtest_list_output_unittest.py
/Test/lib/googletest/googletest/test/gtest_list_output_unittest_.cc
/Test/lib/googletest/googletest/src/gtest_main.cc
/cmake-build-debug/test/lib/googletest/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o
/cmake-build-debug/test/lib/googletest/googletest/generated/gtest_main.pc
/Test/lib/googletest/googletest/cmake/gtest_main.pc.in
/Test/lib/googletest/googletest/test/gtest_main_unittest.cc
/Test/lib/googletest/googletest/test/gtest_no_test_unittest.cc
/Test/lib/googletest/googletest/include/gtest/gtest_pred_impl.h
/Test/lib/googletest/googletest/test/gtest_pred_impl_unittest.cc
/Test/lib/googletest/googletest/test/gtest_premature_exit_test.cc
/Test/lib/googletest/googletest/include/gtest/gtest_prod.h
/Test/lib/googletest/googletest/test/gtest_prod_test.cc
/Test/lib/googletest/googletest/test/gtest_repeat_test.cc
/Test/lib/googletest/googletest/test/gtest_skip_check_output_test.py
/Test/lib/googletest/googletest/test/gtest_skip_environment_check_output_test.py
/Test/lib/googletest/googletest/test/gtest_skip_in_environment_setup_test.cc
/Test/lib/googletest/googletest/test/gtest_skip_test.cc
/Test/lib/googletest/googletest/test/gtest_sole_header_test.cc
/Test/lib/googletest/googletest/test/gtest_stress_test.cc
/Test/lib/googletest/googletest/test/gtest_test_macro_stack_footprint_test.cc
/Test/lib/googletest/googletest/test/gtest_test_utils.py
/Test/lib/googletest/googletest/test/gtest_testbridge_test.py
/Test/lib/googletest/googletest/test/gtest_testbridge_test_.cc
/Test/lib/googletest/googletest/test/gtest_throw_on_failure_ex_test.cc
/Test/lib/googletest/googletest/test/gtest_unittest.cc
/Test/lib/googletest/googletest/test/gtest_xml_outfile1_test_.cc
/Test/lib/googletest/googletest/test/gtest_xml_outfile2_test_.cc
/Test/lib/googletest/googletest/test/gtest_xml_outfiles_test.py
/Test/lib/googletest/googletest/test/gtest_xml_output_unittest.py
/Test/lib/googletest/googletest/test/gtest_xml_output_unittest_.cc
/Test/lib/googletest/googletest/test/gtest_xml_test_utils.py
/cmake-build-debug/test/lib/googletest/googletest/generated/GTestConfig.cmake
/cmake-build-debug/test/lib/googletest/googletest/generated/GTestConfigVersion.cmake
/cmake-build-debug/test/lib/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
/cmake-build-debug/test/lib/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
/cmake-build-debug/CMakeFiles/core.dir/Igiene.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Igiene.cpp.o
/Test/lib/googletest/docs/index.md
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-31T12-49-05-0988.json
/Test/lib/googletest/googletest/cmake/internal_utils.cmake
/cmake-build-debug/libcore.a
/cmake-build-debug/lib/libgtest.a
/Test/lib/googletest/googletest/cmake/libgtest.la.in
/cmake-build-debug/lib/libgtest_main.a
/Test/lib/googletest/LICENSE
/Test/lib/googletest/ci/linux-presubmit.sh
/cmake-build-debug/CMakeFiles/core.dir/ListaDellaSpesa.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/ListaDellaSpesa.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/Macelleria.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Macelleria.cpp.o
/Test/lib/googletest/ci/macos-presubmit.sh
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/main.cpp.o
/Test/lib/googletest/docs/_sass/main.scss
/Test/lib/googletest/docs/reference/matchers.md
/Test/lib/googletest/docs/reference/mocking.md
/Test/lib/googletest/docs/_data/navigation.yml
/cmake-build-debug/CMakeFiles/core.dir/Observer.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Observer.cpp.o
/cmake-build-debug/test/CMakeFiles/runAllTest.dir/ObserverTest.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/Pescheria.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Pescheria.cpp.o
/Test/lib/googletest/docs/pkgconfig.md
/Test/lib/googletest/docs/platforms.md
/Test/lib/googletest/googletest/samples/prime_tables.h
/Test/lib/googletest/docs/primer.md
/cmake-build-debug/CMakeFiles/core.dir/ProdottiDaBagno.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/ProdottiDaBagno.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/Prodotto.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Prodotto.cpp.o
/Test/lib/googletest/googletest/test/production.cc
/Test/lib/googletest/googletest/test/production.h
/cmake-build-debug/test/CMakeFiles/runAllTest.dir/ProductTest.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/Pulizia.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Pulizia.cpp.o
/Test/lib/googletest/docs/quickstart-bazel.md
/Test/lib/googletest/docs/quickstart-cmake.md
/Test/lib/googletest/googlemock/docs/README.md
/Test/lib/googletest/googlemock/include/gmock/internal/custom/README.md
/Test/lib/googletest/googlemock/README.md
/Test/lib/googletest/googletest/docs/README.md
/Test/lib/googletest/googletest/include/gtest/internal/custom/README.md
/Test/lib/googletest/googletest/README.md
/Test/lib/googletest/README.md
/cmake-build-debug/test/runAllTest
/cmake-build-debug/test/CMakeFiles/runAllTest.dir/RunAllTests.cpp.o
/Test/lib/googletest/googletest/samples/sample1.cc
/Test/lib/googletest/googletest/samples/sample1.h
/Test/lib/googletest/googletest/samples/sample1_unittest.cc
/Test/lib/googletest/googletest/samples/sample2.cc
/Test/lib/googletest/googletest/samples/sample2.h
/Test/lib/googletest/googletest/samples/sample2_unittest.cc
/Test/lib/googletest/googletest/samples/sample3-inl.h
/Test/lib/googletest/googletest/samples/sample3_unittest.cc
/Test/lib/googletest/googletest/samples/sample4.cc
/Test/lib/googletest/googletest/samples/sample4.h
/Test/lib/googletest/googletest/samples/sample4_unittest.cc
/Test/lib/googletest/googletest/samples/sample5_unittest.cc
/Test/lib/googletest/googletest/samples/sample6_unittest.cc
/Test/lib/googletest/googletest/samples/sample7_unittest.cc
/Test/lib/googletest/googletest/samples/sample8_unittest.cc
/Test/lib/googletest/googletest/samples/sample9_unittest.cc
/Test/lib/googletest/googletest/samples/sample10_unittest.cc
/Test/lib/googletest/docs/samples.md
/cmake-build-debug/test/CMakeFiles/runAllTest.dir/ShoppingListTest.cpp.o
/Test/lib/googletest/docs/assets/css/style.scss
/cmake-build-debug/CMakeFiles/core.dir/Subject.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Subject.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-core-Debug-f2143b508fb10cbb04aa.json
/cmake-build-debug/.cmake/api/v1/reply/target-Elaborato_Programazione_Lista_Spesa-Debug-4901fc64b3db3c5a4db7.json
/cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-cb610290350d5e6342d7.json
/cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-8409e4eb6fdc173eb069.json
/cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-1895098ac40fc9a1789d.json
/cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-5574931af6595f9acb1e.json
/cmake-build-debug/.cmake/api/v1/reply/target-runAllTest-Debug-fde054a0d11408b590b8.json
/Test/lib/googletest/docs/reference/testing.md
/cmake-build-debug/test/CMakeFiles/runAllTest.dir/UserTest.cpp.o
/cmake-build-debug/CMakeFiles/core.dir/Utente.cpp.o
/cmake-build-debug/CMakeFiles/Elaborato_Programazione_Lista_Spesa.dir/Utente.cpp.o
/Test/lib/googletest/ci/windows-presubmit.bat
/Test/lib/googletest/WORKSPACE
